@import url('./global.css');

.content-table {
    display: flex;
    justify-content: center;


    table {
        margin-top: 15px;
        margin-bottom: 15px;
    	border-width: 1px;
    	border-spacing: 0px;
    	border-style: none;
    	border-collapse: separate;
        background-color: #fff;

        tr, td {
            border-width: 2px;
            padding: 5px;
            border-bottom-color: #3e8692;
            border-bottom-style: solid;
            border-bottom-width: 1px;
        }

        thead tr td{
            background-color: #0d4755;
            color: #fff;
        }
    }
}

.pagar {
    background-color: #c18700;
    color: #fff;
    border-style: none;
    border-radius: 10px;

    &:hover {
        background-color: #ad7900;
    }
}

.ver {
    background-color: #0d4755;
    color: #fff;
    border-style: none;
    border-radius: 10px;

    &:hover {
        background-color: #0a3944;
    }
}