//Global background-colors
    
    //Color palette
    
    $primary_color:  #c18700;
    $secondary_color:#0d4755;
    $lightblue_color:#3e8692;
    $brown_color:    #8e4b05;
    $green_color:    #102117;
    $body-color:     #e5e5e5;
    
    
    //Messages

    $success_color:#00a135;
    $error_color:  #cc0605;
    $info_color:   #0096d2;
    $Warning_color:#e5be01;
    
// Color-fonts

    $white_color: #fff;
    $black_color: #000;

// Global style

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: $body-color;
}

// Import css-icons (https://fontawesome.com/icons)

@import url(https://site-assets.fontawesome.com/releases/v6.1.1/css/all.css);
@import url(../css/nav.css);

// Import fonts



// Background-color message
$message-color: (
    "Error": $error_color,
    "Info": $info_color,
    "Success": $success_color,
    "Warning": $Warning_color
);

@each $k, $v in $message-color {
    .Messeges-#{$k}{
        background-color: $v;
        color: $white_color;
        padding: 15px;
    }
}

@each $k, $v in $message-color {
    .bg-#{$k}{
        width: 100%;
        position: fixed;
        z-index: 10;
        background-color: $v;
        color: $white_color;
        padding: 12px;
        text-align: center;
    }
}

.btn {
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.center {
    margin: 0 auto;
}

.text-center {
    text-align: center;
}